{%extends "testApp/base.html"%}
{%load static%}

{%block content%}
<div class="container" align=center>
  <h3>Hello Dear...</h3>

  <div class="fa-3x">
  <h1>Happy wedding Anniversary...</h1>
  <i class="fa-solid fa-heart fa-beat"></i>
  <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 0.5s;" ></i>
  <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 2s;"></i>
  <i class="fa-solid fa-heart fa-beat" style="--fa-beat-scale: 2.0;"></i>
</div>

  <img src="{% static "images/image1.jpg "%}" alt="">
</div>

{%endblock%}
